<div class="container-fluid">

      <!--Sidebar content-->

      Search: <input ng-model="query"  placeholder="Search">


        <table class="table table-striped">
          <thead>
          <tr>
            <th>Kodas</th>
            <th>Pavadimas</th>
            <th class="hidden-lg">Tel.</th>
            <th class="hidden-xs hidden-md hidden-sm">Telefonas</th>
            <th class="hidden-lg ">Adr.</th>
            <th class="hidden-xs hidden-md hidden-sm">Adresas</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="cust in customers.Customers.CustomerList | filter:query" ui-sref="cust({ custacc: cust.CustAcc })">
            <td>{{cust.CustAcc}}</td>
            <td>{{cust.Name}}</td>
            <td class="hidden-lg "><img  ng-src="img/call.png" width="24" height="24"></td>
            <td class="hidden-xs hidden-md hidden-sm" >{{cust.Phone}}</td>
            <td class="hidden-lg"><a href="http://www.google.lt"><img  ng-src="img/map.png" width="24" height="24"></a></td>
            <td class="hidden-xs hidden-md hidden-sm">{{cust.DefaultAddress}}</td>

          </tr>
          </tbody>
        </table>
      </div>


  </div>
