<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->

      Search: <input ng-model="query">
      Sort by:
      <select ng-model="orderProp">
        <option value="name">Alphabetical</option>
        <option value="Cost">Newest</option>
      </select>

    </div>
    <div class="col-md-10">
      <!--Body content-->

      <ul class="phones">
        <li ng-repeat="prod in prods.Items.Item | filter:query | orderBy:orderProp"
            class="thumbnail phone-listing">
       <!--   <a href="#/phones/{{phone.id}}" class="thumb"><img ng-src="{{phone.imageUrl}}"></a>
          <a href="#/phones/{{phone.id}}">{{phone.name}}</a> -->
          <a>{{prod.Id}}</a>
          <a>{{prod.name}}</a>
          <a>{{prod.Unit}}</a>
          <a>{{prod.Cost}}</a>
          <a>{{prod.Disc}}</a>
          <p>{{prod.description}}</p>
          <p>{{prod.barcode}}</p>
          <p>{{prod.onHandQty}}</p>

        </li>
      </ul>

    </div>
  </div>
</div>
